.fa-arrows-alt
{
	cursor: move !important;
}

#email_column
{
	flex: 5 1 0;
}

.flex_vertical
{
	display: flex;
	flex-direction: column;
	height: 90vh;
}

	.flex_vertical > *
	{
		overflow-y: scroll;
	}

		.flex_vertical > *:last-child
		{
			flex: 1 0 70%;
			min-height: 70%;
		}

		#txtEmail
		{
			background: #fff;
		}

			#txtEmail > ul
			{
				margin: 0em;
				padding: .8em;
			}

				#txtEmail > ul a
				{
					text-decoration: none;
				}

			#txtEmail > div
			{
				margin: .8em;
			}

				#message_container .nav-tab-wrapper
				{
					margin: 0 0 1em;
					padding: 0;
				}