.flex_vertical
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

	.flex_flow > *
	{
		margin-bottom: 1em;
	}

#lost_connection
{
	display: none;
	font-size: 2em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1000;
}

	#lost_connection span
	{
		background: rgba(0, 0, 0, .5);
		border-radius: 5em;
		color: #ccc;
		display: block;
		margin: 25% 5%;
		padding: 4%;
	}

		#lost_connection a
		{
			color: #ccc;
		}

#lost_connection, #saving, #loading
{
	background: rgba(0, 0, 0, .5);
	color: #ccc;
	display: none;
	font-size: 4em;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1000;
}